img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 90%;
}
h1, h2{
    color: lime;
    font-family: Helvetica;
}
p, blockquote, a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a:hover{
    background-color: black;
}
a {
    background-color: aquamarine;
}
a.hemsidalink{
    margin-left: 20px;
    margin-right: 20px;
}
.hemsida{
    margin-top: 100px;
    /* margin-bottom: 100px; */
}